.skin-blue .main-header .navbar {
    background-color: #4c51bd;
}

.skin-blue .main-header .logo {
    background-color: #4c51bd;
}

.skin-blue .main-header .logo {
    color: #e9f614;
    font-family: "Pokemon Solid";
}


